.container {
  margin: 0 auto;
  max-width: 600px;
}

.dolist {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 1 2px 4px rgba(0, 0, 0, 0.1);
}

li {
  background-color: #ececec;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  text-align: left;
}
.img-todo {
  height: 30px;
  width: 30px;
}
input {
  width: 70%;
}
.add-task button {
  padding: 10px 15px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.task-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.task-icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.Div2 {
  text-align: center;
  padding: 15%;
}
